/***** Formatação de Tags *****/
body{
    background-image: url(../img/img2.jpeg);
    background-color: #10314C;
    background-attachment: fixed;
    background-size: 100% 120%;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FAFAFA;
    width: auto;
    height: 400px;
}

input{
    background-color:transparent;
    border: none;
    color: #E6E6E6;
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
    border-bottom: 1.5px solid #E6E6E6;
    width: 300px;
}

textarea:focus, input:focus, select:focus {
    border-color: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1.5px solid #C1B668;
}

button{
    margin: 10px;
    padding: 10px 15px;
    color: #10314C;
    background-color: #E6E6E6;
    opacity: 0.8;
    border: none;
}

button:hover {
    background: #C1B668;
    opacity: 0.8;
}

button:focus {
    background: #C1B668;
}

img{
    width: 200px;
}

h3{
    font-weight: normal;    
}

a{
    color: #10314C;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
    background: #C1B668;
    padding: 5px;
}

p{
    font-size: 1.2em;
}



/***** Formatação de Div e Class *****/

#cifraPrincipal{
    box-align: center;
    width: 350px;
    height: 540px;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

#msg{
    margin-top: 40px;
}


.footer {
    position:absolute;
    bottom:0;
    left: 0;
    width:100%;
    border: 1px solid #E6E6E6;
    text-align: center;
    background: #E6E6E6;
    padding: 5px;
}



#cipher{
    margin-top: 40px;
}

